*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
}
body{
    height: 100vh;
    width: 90vw;
    margin:0vw 5vw;
}

.heading-offer{
   text-align: center;
   margin-top: 2rem;
   font-size: 2.2rem;
   font-weight: 700;
}.offer-pack{
    text-align: center;
    margin-top: 1rem;
    padding: 2rem 1rem;
    color: #fff;
    background-color: rgb(102,151,118);
    font-size: 1.5rem;
}
.container > ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0.5rem;
}
.container>ul>li{
  border: 2px solid #6c757d;
  list-style: none;
  border-radius: 2px;
  gap: 3px;
}
img{
    height: 22rem;
    width: 18rem;
}
.salon{
    text-align: center;
    color: rgb(224, 124, 140);
    font-weight: 200;
}

@media (max-width:970px) {
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    img{
        height: 12rem;
        width: 10rem;
    }
    .container ul li{
        margin: 0rem 0.2rem;
    }

  
}

  
