<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BeautySmiles.in</title>
      <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="../favicon.svg" type="image/svg+xml">

   <!-- google fonts
 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700;800&display=swap" rel="stylesheet">
   <!-- 
    style
    -->
    <link rel="stylesheet" href="../component/offer.css">
</head>
<body>
    <div class="heading-offer">BeautySmiles.in</div>
    <p class="salon">salon at home</p>
    <h3 class="offer-pack">Specile Packages Services</h3>
    <div class="container">
        <ul>
            <li class="banner-offer"><img src="../assets/images/1.png" alt=""></li>
            <li class="banner-offer"><img src="../assets/images/2.png" alt=""></li>

          
        </ul>
    </div>
    <div class="container">
        <ul>
         
            <li class="banner-offer"><img src="../assets/images/3.png" alt=""></li>
            <li class="banner-offer"><img src="../assets/images/4.png" alt=""></li>
         
          
        </ul>
    </div>
    <div class="container">
        <ul>
           
            <li class="banner-offer"><img src="../assets/images/5.png" alt=""></li>
            <li class="banner-offer"><img src="../assets/images/6.png" alt=""></li>
          
        </ul>
    </div>
    <div class="container">
        <ul>
            <li class="banner-offer"><img src="../assets/images/7.png" alt=""></li>
            <li class="banner-offer"><img src="../assets/images/8.png" alt=""></li>
            
          
        </ul>
    </div>
    <div class="container">
        <ul>
           
            <li class="banner-offer"><img src="../assets/images/9.png" alt=""></li>
            <li class="banner-offer"><img src="../assets/images/10.png" alt=""></li>
           
        </ul>
    </div>
</body>
</html>